# Servidor
PORT=3000
NODE_ENV=development

# Base de datos PostgreSQL
DATABASE_URL=postgresql://usuario:contraseña@localhost:5432/newenche_db

# Autenticación
JWT_SECRET=cambia_esto_por_una_cadena_larga_y_aleatoria
JWT_EXPIRES_IN=8h

# CORS - URL donde corre el frontend
CLIENT_URL=http://localhost:5173


# SMTP
SMTP_HOST=smtp.tuproveedor.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=usuario@tuproveedor.com
SMTP_PASS=tu_password_o_api_key

MAIL_FROM="Newenche Web <no-reply@newenche.cl>"
CONTACT_EMAIL_TO=contacto@newenche.cl

# Cloudflare Turnstile
TURNSTILE_SECRET_KEY=tu_secret_key_de_turnstile
